body{
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 100%;    /*반응형*/
    line-height: 1.8;    /*단위를 쓰지 말아라  1.8은 180%와 같음*/
    letter-spacing: -0.0085em;
    color: #222;
}

#hd{
    background-color: transparent;
    border-bottom: 1px solid white;
}
#hd a{color: white;}

.scroll #hd{
    background-color: white;
    border-bottom-color: #333;
}
.scroll #hd a{
    color: #222;
}